* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

.element {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
}

.container:hover .element{
  transform: translateX(150px);
}

.container {
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}
/* 1 */
.element1 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
}

.container1:hover .element1{
  transform: translateY(150px);
}

.container1 {
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 2 */
.element2 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
}

.container2:hover .element2{
  transform: translatex(100%);
}

.container2 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 3 */
.element3 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
}

.container3:hover .element3{
  transform: translatex(100%);
  z-index: -1;
}

.container3 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 4 */
.element4 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
}

.container4:hover .element4{
  transform: rotate(50grad);
}

.container4 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 5 */
.element5 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
  transform-origin: top left;
}

.container5:hover .element5{
  transform: rotate(50grad);
  z-index: -1;
}

.container5 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 6 */
.element6 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
}

.container6:hover .element6{
  transform: scale(1.3);
}

.container6 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 7 */
.element7 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
  transform-origin: top left;
}

.container7:hover .element7{
  transform: scale(1.3);
}

.container7 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 8 */
.element8 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
}

.container8:hover .element8{
  transform: skewX(50deg);
}

.container8 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 9 */
.element9 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 1s;  
}

.container9:hover .element9{
  transform: skewY(50deg);
}

.container9 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 10 */
.element10 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 3s;  
}

.container10:hover .element10{
  transform: rotate(90deg) translate(100px) scale(.3);
}

.container10 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

/* 11 */
.element11 {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: steelblue;
  transition: transform 3s;  
}

.container11:hover .element11{
  transform: scale(.3) rotate(90deg) translate(100px);
}

.container11 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  border: 5px solid;
}

